.form {
  background: linear-gradient(#bb8ccc, #827882);
  padding: 2% 0 45% 0;
  height: 100%;
  width: 100%;
  position: absolute;
  
  }
  
  label {
   display:flow-root ;

    margin-bottom: 10px;
   
  }
  
  .input {
    padding-left: 20%;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 450px;
  }
  
  .boton3 {
    background-color: #ab47bc; /* Botón más claro que el fondo */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width:750px;
   margin-right:1%;
    margin-top: 20px;
  }
  
  .boton3:hover {
    background-color: #9c27b0; /* Botón un poco más oscuro al pasar el mouse */
  }
  