* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

.login{
  background: linear-gradient(#bb8ccc, #827882);
  
  padding: 12% 0 22% 0;
  height: 100%;
  width: 100%;
}
.formulario-login {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;

}
.titulo{
  padding: 0 0 5% 0;
  font-size: 50px;
  font-weight:bolder
}
.formulario-login input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
}

.formulario-login button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
}

.formulario-login button:hover {
  background-color: #218838;
}