* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

.login{
  background: linear-gradient(#bb8ccc, #827882);
  
  padding: 12% 0 22% 0;
  height: 100%;
  width: 100%;
}
.formulario-login {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;

}
.titulo{
  padding: 0 0 5% 0;
  font-size: 50px;
  font-weight:bolder
}
.input1{
  display: flow-root;
  margin-bottom: 10px;
  height:50px;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
  text-align: center;
  margin-left: 35%;
}

.formulario-login button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
}


.boton4 {
    background-color: #ab47bc; /* Botón más claro que el fondo */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: 40px;
    width: 450px;
margin-left: 35%;
    margin-top: 20px;
  }
  
  .boton4:hover {
    background-color: #9c27b0; /* Botón un poco más oscuro al pasar el mouse */
  }