body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.ABC {
    color: #444;
    text-align: center;
    padding: 20px 0;
}

.DEF {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #ddd;
}

.DEF label {
    color: #444;
    font-weight: bold;
}

.DEF .GHI {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.DEF input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.DEF input[type="submit"]:hover {
    background-color: #7986CB;
}
